@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



body{
   background-image: url(https://habrastorage.org/webt/5f/b1/07/5fb10728ee9a9357394035.png) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}
div{
    box-shadow: rgba(207, 10, 10, 0.25) 0px 54px 55px, rgba(6, 205, 199, 0.12) 0px -12px 30px, rgba(5, 99, 223, 0.12) 0px 4px 6px, rgba(91, 233, 3, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
      color: #ffffff;
      border-radius: 15px;
      padding: 15px 20px;
      text-align: center;
      margin: 20px auto;
      margin-top: 250px;
      background-color: #112dcf8d;
  }